.nav-link{
    margin-right: 10px;
}

body{
    font-family:Arial, Helvetica, sans-serif;
}

#contactCard{
    background-color: rgb(65, 65, 65);
    color: white;
    height: 450px;
    border-radius: 70px;
}

#contactContainer{
    align-items: center;
    justify-content: center;

}

#contact-greeting{
    margin-top: 35px;
}

#email-me{
    padding-top: 80px;
}

#img-container{
    align-items: center;
    justify-content: center;
}

#headshot{
    height: 300px;
    border-radius: 50%;
    max-width: 100%; 
    display: block;
    margin-top: 12%;
    margin-left: 15%;
}